</body>
<div class="col-md-12 text-center text-muted mt-2">
    <p>Copyright &copy; 2021 by <a href="https://github.com/samuelzega">Isella Safira</a> and <a href="https://github.com/harfialpharaby">Abi Raditya</a></p>
</div>
</html>