#content{
    size: 50;
}
.box{
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px;
}
.para{
    color: rgb(42, 65, 165);
}
#formFeed{
    padding-right: 400px;
    padding-left: 400px;
}